.ZsapMGTContent {
    /* height: 6.375rem; */ /* chg : to let a content take a complete height */ 
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
 }
 .ZsapMTileCnt {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    /* height: 6.375rem; */ /* chg : to let a content take a complete height */
 }
 